doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title WeHelp Application doc
    link(rel="stylesheet", href="style.css")
  body 
    #container
      #header
        .text APPLICATION
      #card
        .title 兩百字內的個人簡介
        hr
        .content 我是潘威利，是一名菜鳥前端工程師。
          | 原先從事補教業，但今年想要轉換跑道。事實上在某前端課程中擔任助教許久。所以對於前端開發是有一些基礎，甚至對後端也有興趣。
          br
          | 並非本科系出身，但自從學程式之後就會用工程師思維解決問題。也喜歡從無到有創造東西，因此喜歡上寫程式，覺得是能實現想法的另一隻有力的手。
          | 興趣超廣泛，在這邊列舉會太多，但平常主要會將空閒時間拿去學習人類的自然語言、玩遊戲，或是種植物。
      #card
        .title 為了成為軟體工程師曾做過的努力
        hr
        .content 其實我原先只是基於好奇與興趣來學習這個領域。所以先前很多的學習動機，都是以「想知道更多」的精神去研讀許多前輩的文章、購買線上課程、參與許多別的課程的技術直播等等來一點一點構築自己的知識與概念。
          br
          | 不過由於已經下定決心想要脫離舊的領域（目前已幾乎無補教工作），開展新的職涯可能性。所以其實也有向某工作室申請擔任實習前端工程師的職位，參與並協助開發大大小小的專案進行。
          | 但覺得這樣的狀態仍不夠，也感覺到目前在轉職之路上遇到一些瓶頸，例如投遞了許多的 Junior 職位都收到無聲卡，或是做一些切版測驗時被認為能力尚不足。
          br
          | 因此前陣子有跟也是前端工程師的朋友聊聊，他十分建議以我目前的狀態來說，可以參加 Bootcamp，來以密集的方式一口氣填補起目前我離可以正式成為 Junior 即戰力的差距。
          br
          | 另外，我也有簡單整理起自己的作品集，不妨請參考 
          a(href="https://w71800.github.io/portfolio/dist/#/", target="_blank") 我用 Vue 製作的作品集
      #card
        .title 學習時間的安排
        hr
        .content 由於我目前手上有課程助教及翻譯志工的兼職工作，這些工作我習慣都會安排在下午進行（每天最多約花費 2 ~ 3 小時左右）。
          | 所以若之後能夠參與此 Bootcamp 的話，我的預期將會是使用早上、晚上以及工作處理完後多餘的時間來進行學習與開發，每天預計約 5 ~ 7 小時。
      #card
        .title 想要加入的軟體公司
        hr
        .content 其實我目前沒有特定想要加入的軟體公司，但我渴望這樣的能力和技術可以成為讓社會更好的的其中一枚螺絲釘。
          | 所以，例如其實都一直想要加入台灣的一間非營利媒體組織「
          a(href="https://www.twreporter.org" target="_blank") 報導者
          | 」，成為他們的前端工程師參與許多專題的開發。
      #card
        .title 一件產生明顯負面情緒的事情
        hr
        .content 以最近來說，應該就是即便覺得很認真準備了，並且投遞履歷但都收到無聲卡這件事吧。
          br
          | 起初是蠻沮喪的，也不知道該怎麼樣去突破現況。
          | 但好在有遇到幾個朋友陪我討論可能可以怎麼解決。也客觀的分析我目前擁有的 / 缺少的東西，讓我比較知道現況是如何的。
          br
          | 謝謝他們願意花時間聆聽我的困難以及陪我聊聊！對我來說，這樣說說話是蠻能排解負面的情緒的。
      #card
        .title 這份申請網頁開發時的技術心得
        hr
        .content 其實就於技術心得來說本身是沒有什麼特別的，因為這算是基本功。
          br
          | 不過因為我很久沒做切版了，所以原先以為我可能要切很久；但沒想到我很快就做出來了，這讓我蠻意外的，也讓我很開心發現我的手感並沒有減退太多～
      #card
        .title 其他想要說的事情
        hr
        .content 其實對我來說，除了想要轉換跑道換個生活的方式之外，獲得更大的經濟自由也是我渴望的事情。
          br
          | 不過，但同時我也覺得我喜歡這個領域。我發現我還有很多事情都還不知道，我總好奇著「那些專業的名詞、工法、概念是什麼？」。也希望擁有這樣的工具及能力，幫助我開展不同的世界以及更多可選擇的機會。
          | 更甚至覺得我都踏進來這個領域，對這邊也略懂略懂了，若現在要我退出去我會很不甘心，不想放棄，總覺得一定要學到一個樣子才行，因為我不想只是個半調子。
          | 我希望我能夠更加自在地使用這樣的能力，因此我想要變更強，更厲害。然後去取得更多我想要的自由。
          br
          | 所以，我非常衷心希望能夠加入 WeHelp，而我現在就在努力嘗試踏出這一步。
          br